:root{
    --cor-de-fundo: #ffc1c1;
    --texto-fundo: #7417ccfd;
}
body{ 
    background-color: rgb(15, 248, 170);
    color:rgb(8, 134, 92);
    font-family: 'Chakra Petch', sans-serif;
}

titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 34px;

}

.titulo-principal span {
    color:rgb(0, 0, 148);
}