:root{
   --cor-de-fundo ;
    --texto-fundo: #000000fd;
}
body{ 
    background-color: rgb(0, 183, 255);
    color:rgb(216, 65, 65);
    font-family: 'Chakra Petch', sans-serif;
}

titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 34px;
 
}

.titulo-principal{ 
    color:rgb(214, 0, 0);
}