:root{
    --cor-de-fundo: #f05252;
    --texto-fundo: #df31b9fd;
}
body{ 
    background-color: rgb(250, 81, 81);
    color:rgb(216, 65, 65);
    font-family: 'Chakra Petch', sans-serif;
}

titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 44px;

}

.titulo-principal{ 
    color:rgb(214, 0, 0);
}