:root{
    --cor-de-fundo: #f05252;
    --texto-fundo: #df31b9fd;
}
body{ 
    background-color: rgb(16, 12, 41);
    color:rgb(15, 3, 37);
    font-family: 'Chakra Petch', sans-serif;
}

titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 34px;

}

.titulo-principal{ 
    color:rgb(0, 0, 214);
}