:root{
   --cor-de-fundo ;
    --texto-fundo: #000000fd;
}
body{ 
    background-color: rgb(226, 85, 97);
    color:rgb(88, 0, 0);
    font-family: 'Chakra Petch', sans-serif;
}

titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 34px;
    text-align: center;
}

.titulo-principal{ 
    color:rgb(214, 0, 0);
    text-align: center;
}
h2{
    text-align: center;
}
}